<!DOCTYPE html>
<html lang="ru" ng-app="iNovelistApp">  
    <head>
        <title>iNovelist</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./js/angular.min.js"></script>
        <script src="./js/angular-route.min.js"></script>
        <script src="./js/inovelist.app.js"></script>
        <script src="./js/inovelist.controllers.js"></script>
    </head>
    <body>
        <div id="mainMenu" ng-controller="MainMenuCtrl">
            <div ng-repeat="menuItem in menuItems" ng-click="go(menuItem.href)" class="main-menu-item">
                <div ng-class="getClass('/tasks')" class="main-menu-item-title">{{ menuItem.title }}</div>
            </div>
        </div>
        <div id="workspace" ng-view></div>
    </body>
</html>