<div><h2>Содержание (Сontents)</h2></div>
<div>
    <div><h4>Главы (Chapters):</h4></div>
    <div class="chapters-list">
        <div class="chapter" ng-repeat="chapter in chapters" ng-click="selectChapter(chapter)">{{ chapter.name }}</div>
        <div class="chapter" ng-click="addChapter()">Добавить</div>
    </div>
</div>
<dev>
    <div><h4>Сцены (Scenes):</h4></div>
    <div class="scenes-list">
        <div class="scene" ng-repeat="scene in selectedChapter.scenes" ng-click="selectScene(scene)">{{ scene.name }}</div>
        <div class="scene" ng-click="addScene(chapter)">Добавить</div>
    </div>
</dev>

<hr>
<div ng-show="true">
    <div><input class="input-h4" type="text" ng-model="selectedScene.name"></div>
    <div>
        <textarea name="scene" id="" style="width: 100%" rows="10" ng-model="selectedScene.text"></textarea>
    </div>
</div>