<div><h2>Места (Places)</h2></div>
<div>
    <div><h4>Список мест (Lists of places):</h4></div>
    <div class="places-list">
        <div class="place" ng-repeat="place in places" ng-click="selectPlace(place)">{{ place.name }}</div>
        <div class="place" ng-click="addPlace()">Добавить</div>
    </div>
</div>
<hr>
<div ng-show="true">
    <div><h4>Характеристики места (Place of events):</h4></div>
    <div>
        <table>
            <tr>
                <td>Название (Name):</td>
                <td><input type="text" ng-model="selectedPlace.name"></td>
            </tr>
            <tr>
                <td>Описание (Description):</td>
                <td><textarea type="text" ng-model="selectedPlace.description"></textarea></td>
            </tr>
        </table>
    </div>
</div>